<h1>Twitter API</h1>

<h3>Show your tweets</h3>  
<form action="/fetch" method="post">
	Username:
	<input type="text" name="username">
	<input type="submit" value="Submit">
</form>

<h2> Or sign in to tweet!</h2>
<h3><a href="/sign_in">Sign In</a></h3>


