<h1>Now you can tweet</h1>

<h3>Create tweet</h3>
<form action="/" id="tweet_form" method="post">
	Tweet:<br>
	<textarea name="tweet"></textarea><br><br>
	<input type="submit" id="submit" value="Submit">
</form>
<a href="/logout">Logout</a>
<div id="alert"><h4></h4></div>